{% extends 'base.html' %}
 
{% set the_title = "Error in Data Request" %}
{% set has_valid_data = False %}
{% if 'id' in data %}
    {% set has_valid_data = True %}
    {% set the_title = data["first_name"] + " " + data["last_name"] %}
{% endif %}

{% block title %}{{the_title}}{% endblock %}

{% block content %}
    {% if has_valid_data == True %}
        <main>
            <section class="py text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">{{the_title}}</h1>
                        <img src="{{ data['image_url'] }}" alt="profile picture" width="250" height="250px">
                        <p class="lead text-muted h4 pt-2">
                            {{data["description"]}}
                        </p>
                        <p><span class="fw-bold">Skills:</span> {{data["skills"]}}</p>
                        <!-- <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p class="fw-bold">Twitter timeline:</p>
                                    <ul class="list-group">
                                        <li class="list-group-item text-left">Cras justo odio</li>
                                        <li class="list-group-item text-right">Dapibus ac facilisis in</li>
                                        <li class="list-group-item text-left">Morbi leo risus</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <p class="py-lg-2"><span class="fw-bold">Contact: </span><a href="mailto:{{data['email']}}">{{data['email']}}</a></p>
                    </div>
            </div>
            </section>
        </main>
    {% else %}
        <main>
            <h1>{{the_title}}</h1>
        </main>
    {% endif %}
{% endblock %}